@mixin flexCenter($direction, $background) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background-color: $background;
    
    
}

header {
    @include flexCenter(column-reverse, red);
    height: 500px;
    color: $textColor;
        button {
            background-color: $primaryBtn;
            &:hover {
                background-color: $primaryBtnAfter;
            }
        }
}